[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-restful = "*"
gunicorn = "*"
flask-bcrypt = "*"
marshmallow = "==3.26.1"
marshmallow-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
